<a href="https://colab.research.google.com/github/Gcarmnonapy7/Masterpiece_prototype_scheduling_movie_theaters/blob/main/movies_cluesterization_%26crowd_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



+----------------------+ | 1️⃣ Input Data | | - TMDb metadata | | - Box office data | | - Holiday/weekend | +----------+-----------+ | v +----------------------+ | 2️⃣ Data Cleaning | | - Parse genres/keywords| | - Fill missing values | | - Log-transform nums | | - One-hot categories | +----------+-----------+ | v +----------------------+ | 3️⃣ Feature Engineering | | - Genre strength | | - Keyword strength | | - Budget / revenue | | - Historical trends | +----------+-----------+ | v +----------------------+ | 4️⃣ Movie Similarity / Clustering | | - Cluster movies by features | | - Cosine similarity for keywords | | - Output: cluster label per movie | +----------+-----------+ | v +----------------------+ | 5️⃣ ML Crowd Prediction | | - Input: features + cluster | | - Target: total predicted crowd | | - Output: predicted total audience| +----------+-----------+ | v +----------------------+ | 6️⃣ Weekly Distribution | | - Split total predicted crowd per week | | - Adjust for holidays, weekends | | - Output: weekly predicted attendance | +----------+-----------+ | v +----------------------+ | 7️⃣ Cinema & Room Assignment | | - Simulate cinemas & rooms | | - Assign movies to rooms based on weekly attendance | | - Respect room capacities | | - Output: schedule per cinema/week | +----------+-----------+ | v +----------------------+ | 8️⃣ Output / Team Consumption | | - Export Excel / CSV / JSON | | - Columns: Movie, Cinema, Room, Week, Predicted Crowd | +----------+-----------+ | v +----------------------+ +----------------------+

In [190]:
# import depedencies
import json
import pandas as pd
from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [191]:
import kagglehub
import os
path_tmdb = kagglehub.dataset_download("tmdb/tmdb-movie-metadata")
path_movie_box = kagglehub.dataset_download("aditya126/movies-box-office-dataset-2000-2024")

Using Colab cache for faster access to the 'tmdb-movie-metadata' dataset.
Using Colab cache for faster access to the 'movies-box-office-dataset-2000-2024' dataset.

In [192]:
print(os.listdir(path_tmdb))
print(os.listdir(path_movie_box))

['tmdb_5000_movies.csv', 'tmdb_5000_credits.csv']
['enhanced_box_office_data(2000-2024)u.csv']

In [193]:
#Import datasets

tmdb = pd.read_csv(os.path.join(path_tmdb,'tmdb_5000_movies.csv'))
box = pd.read_csv(os.path.join(path_movie_box,'enhanced_box_office_data(2000-2024)u.csv'))

Predicted Crowd Week w=∑similarityi​∑(similarityi​×crowdi,w​)​

In [194]:
print(tmdb.shape)
print(box.shape)

(4803, 20)
(5000, 13)

In [195]:
box.info(
    verbose=True,
    show_counts=True
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  5000 non-null   int64
 1   Release Group         5000 non-null   object
 2   $Worldwide            5000 non-null   float64
 3   $Domestic             5000 non-null   float64
 4   Domestic %            5000 non-null   float64
 5   $Foreign              5000 non-null   float64
 6   Foreign %             5000 non-null   float64
 7   Year                  5000 non-null   int64
 8   Genres                4822 non-null   object
 9   Rating                4830 non-null   object
 10  Vote_Count            4830 non-null   float64
 11  Original_Language     4830 non-null   object
 12  Production_Countries  4800 non-null   object
dtypes: float64(6), int64(2), object(5)
memory usage: 507.9+ KB

In [196]:
tmdb.info(
    verbose=True,
    show_counts=True
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [ ]:
def detect_outliers(df):
  pass

In [197]:
def clean_keywords(column_keywords):

    if column_keywords is None or (isinstance(column_keywords, float) and pd.isna(column_keywords)):
        return []

    if isinstance(column_keywords, str):
        try:
            column_keywords = json.loads(column_keywords)
        except (json.JSONDecodeError, TypeError):
            return []

    if isinstance(column_keywords, list):
        return [item['name'] if isinstance(item, dict) else str(item) for item in column_keywords]

    return []

tmdb['keywords'] = tmdb['keywords'].apply(clean_keywords)

In [198]:
tmdb['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4798    [united states–mexico barrier, legs, arms, pap...
4799                                                   []
4800    [date, love at first sight, narration, investi...
4801                                                   []
4802            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4803, dtype: object

In [199]:
exploded_keywords = tmdb.explode('keywords')

words_freq = (
    exploded_keywords
    .groupby('keywords')
    ['revenue']
    .mean()
)

tmdb['keyword_strength'] = tmdb['keywords'].apply(
    lambda keywords: np.median([words_freq[word] for word in keywords]) if len(keywords) > 0 else 0
)

In [200]:
tmdb['keyword_strength'].describe()

count    4.803000e+03
mean     8.838494e+07
std      7.767139e+07
min      0.000000e+00
25%      4.317629e+07
50%      7.316093e+07
75%      1.151591e+08
max      8.772448e+08
Name: keyword_strength, dtype: float64

In [201]:
tmdb['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4798    El Mariachi just wants to play his guitar and ...
4799    A newlywed couple's honeymoon is upended by th...
4800    "Signed, Sealed, Delivered" introduces a dedic...
4801    When ambitious New York attorney Sam is sent t...
4802    Ever since the second grade when he first saw ...
Name: overview, Length: 4803, dtype: object

In [202]:
columns_to_rename_box_df = {'Release Group': 'title','$Worldwide':'worldwide_gross','Rating' : 'rating','Production_Countries' : 'countries','Original_Language':'language', 'Domestic':'contry_view'}

In [203]:
box.rename(columns=columns_to_rename_box_df,inplace=True) # title and total crowd around the world

In [204]:
# === EDA ==
import matplotlib.pyplot as plt
import seaborn as sns


sns.set_style('darkgrid')

def get_top_countries(df,column_name,top_n=10):

   df[column_name] = df[column_name].str.split(',')

   df_exploded_names = df.explode(column_name)

   df_exploded_names[column_name] = df_exploded_names[column_name].str.strip()

   return df_exploded_names[column_name].value_counts().head(top_n)

get_top_countries(box,'countries')

countries
United States of America    3153
United Kingdom               616
France                       454
Japan                        436
China                        394
Germany                      362
Canada                       243
South Korea                  214
Hong Kong                    191
India                        158
Name: count, dtype: int64

In [205]:
columns_to_drop = {'homepage','status','tagline','spoken_languages'}
tmdb = tmdb.drop(columns=columns_to_drop)

In [211]:
def clean_genres(col):
  if pd.isna(col) or col == '':
    return ''

  genres = json.loads(col)

  return ' '.join([g['name'].replace(' ','_').lower() for g in genres])

tmdb['genres'] = tmdb['genres'].apply(clean_genres)
tmdb['release_year'] = pd.to_datetime(tmdb['release_date']).dt.year

In [212]:
tmdb['genres_list'] = tmdb['genres'].apply(lambda x : x.split())
genre_exploded = tmdb.explode('genres_list')
genre_counts = genre_exploded['genres_list'].value_counts()
genre_avg_revenue = (
    genre_exploded
    .groupby('genres_list')
    ['revenue'].mean())
tmdb['genre_revenue_strength'] = tmdb['genres_list'].apply(lambda genres : np.mean([genre_avg_revenue[gen] for gen in genres] ) if len(genres) > 0 else 0)

In [229]:
# Ensure tmdb is a proper copy to avoid SettingWithCopyWarning
tmdb = tmdb.copy()

# Fill 0 budgets with the median of their genre group
tmdb['budget'] = tmdb.groupby('genres')['budget'].transform(
    lambda x: x.replace(0, x.median())
)

# Fallback: For rows that are still 0 (groups where all budgets were 0), use the global median
global_median_budget = tmdb[tmdb['budget'] > 0]['budget'].median()
tmdb.loc[tmdb['budget'] == 0, 'budget'] = global_median_budget

print(f"Rows with 0 budget remaining: {len(tmdb[tmdb['budget'] == 0])}")
print(f"Global median used for fallback: {global_median_budget}")

Rows with 0 budget remaining: 0
Global median used for fallback: 16.705882371415992

In [230]:
tmdb = tmdb[tmdb['genres_list'].apply(len) > 0]

In [231]:
tmdb[['genres_list','genre_revenue_strength']]

                                        genres_list  genre_revenue_strength
0     [action, adventure, fantasy, science_fiction]               15.034860
1                      [adventure, fantasy, action]               15.160071
2                        [action, adventure, crime]               14.538061
3                  [action, crime, drama, thriller]               13.077326
4              [action, adventure, science_fiction]               14.992627
...                                             ...                     ...
4797                            [foreign, thriller]                7.587010
4798                      [action, crime, thriller]               13.677282
4799                              [comedy, romance]               11.725500
4800             [comedy, drama, romance, tv_movie]                8.682114
4802                                  [documentary]                6.567380

[4775 rows x 2 columns]

In [232]:
print(len(tmdb[tmdb['genres_list'].apply(len) == 0]))# verify columns without genre

0

In [233]:
columns_to_log = ['revenue','budget','vote_count','keyword_strength']

def transform_log1p(data,columns_to_log):
  valid_columns = [col for col in columns_to_log if col in data.columns]
  data[valid_columns] = np.log1p(data[valid_columns])
  return data
tmdb_log1p = transform_log1p(tmdb,columns_to_log)

In [234]:
tmdb_model = tmdb_log1p[
    (tmdb_log1p['budget'] > 0) &
    (tmdb_log1p['revenue'] > 0) & (tmdb_log1p)
].copy()

In [235]:
print(tmdb_log1p.shape)
print(tmdb_model.shape)

(4775, 20)
(3375, 20)

In [236]:
tmdb_model.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count,keyword_strength,release_year,genre_revenue_strength
count,3375.000000,3375.000000,3375.000000,3375.000000,3375.000000,3375.000000,3375.000000,3375.000000,3375.000000,3375.000000
mean,2.869251,45517.950815,28.268856,2.901186,110.379259,6.309126,1.915917,2.865612,2001.853037,12.746528
std,0.135821,74736.462975,35.624325,0.164263,21.118562,0.882122,0.245568,0.511264,13.120945,1.290232
min,0.526589,5.000000,0.019984,1.026672,0.000000,0.000000,0.000000,0.000000,1916.000000,4.297917
25%,2.840136,5526.500000,9.967348,2.864933,96.000000,5.800000,1.806253,2.935205,1998.000000,11.725500
50%,2.892280,11577.000000,19.760383,2.931883,106.000000,6.300000,1.958870,2.958239,2005.000000,12.629144
75%,2.932087,47207.500000,36.428157,2.983576,121.000000,6.900000,2.078969,2.981680,2010.000000,13.677282
max,3.032820,417859.000000,875.581305,3.124503,338.000000,10.000000,2.354135,3.072337,2016.000000,15.727903

In [238]:
tmdb_model.head(1)

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,keyword_strength,release_year,genres_list,genre_revenue_strength
0,3.009811,action adventure fantasy science_fiction,19995,"[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,3.124503,162.0,Avatar,7.2,2.33949,3.053088,2009.0,"[action, adventure, fantasy, science_fiction]",15.03486

In [218]:
df_final = tmdb.merge(box,on='title',how='inner')